html(lang='pt-br')
    head
        title #{title}
        meta(name="description" content=description)
        meta(name='keywords' content=keywords)

        //- Uikit 3
        link(rel="stylesheet" type="text/css" href="./css/uikit.min.css")
        script(src="./js/jquery.min.js")
        script(src="./js/uikit.min.js")
        script(src="./js/uikit-icons.min.js")

        link(rel="stylesheet" type="text/css" href="./css/styles.css")

    body
        div#page
            //- Main Container
            div.uk-container
                
                //- Header
                div.uk-cover-container.header
                    img(src="https://getuikit.com/docs/images/dark.jpg" alt="" uk-cover)
</div>
            
    
