color_dockas = #F9690E
color_white = rgba(248, 248, 248, 0.7)
color_black = rgba(#000,.5)

.header
    height: 500px

.call-to-action h1
        text-align left !important

.uk-navbar a, .uk-navbar button
    color color_black

.uk-active
    color #2e2e2e !important


.bg
    z-index: -1

.main-menu
    background: color_white !important
    z-index 10

// div
//     background-color: color_dockas

// Section
.section
    padding: 30 0
    color: color_white

    img
        width 60
        opacity 0.5
    p
        color color_black
        text-align justify
        padding 20px  0

    h1, h2, h3, h4
        color: @color

    h1
        text-align center

    h2
        padding: 10px 0

    .section-body
        margin 150 0 0

    .next
        text-align center
        padding 40

        img
            transform:rotate(90deg)

#equip, #features, #how-it-works, #contact
    padding 120 0
    h1, h2, h3, h4
        color color_black

.affix
    position: fixed
    width: 100vw
    padding: 0 40
    box-sizing: border-box

// Layer
.uk-cover-container
    background: color_black


// Call To Action
.call-to-action
    padding: 15% 40px
    width: 70%

button
    color color_black !important

.call-to-action-button
    background: #e5e5e5
    margin 20px 0

    &:hover
        background: #b2b2b2

.uk-first-column
    padding 0

.section-body div
    padding 20

.center
    text-align center

#contact .section-body
    margin 50 0 0
